<header class="site-header">
  <div class="logo">
    <h1>MTN,Inc.</h1>
  </div>
  <nav class="nav-links">
    <a routerLink="/home" class="nav-button">Home</a>
    <a routerLink="/events" class="nav-button">Events</a>
    <a routerLink="/contact" class="nav-button">Contact</a>
    <a routerLink="/admin" class="nav-button admin">Admin</a>
  </nav>
</header>

<div class="calendar-container">
  <full-calendar [options]="calendarOptions"></full-calendar>
</div>
<div class="container">
  <h2>Upcoming Events</h2>
<ul>
  @for (event of events; track event.id) {
    <li>
      <strong>{{ event.name }}</strong> - {{ event.date | date: 'fullDate' }}
    </li>
    <button class= "btn-primary" routerLink="/register">Register Now!</button>
  } @empty {
    <li>No upcoming events.</li>
  }
</ul>
</div>
