<button class= "btn-primary" routerLink="/home">Back to Dashboard</button>
<div class="contact-container">
  <h1>Contact Us</h1>
  <p>We’d love to hear from you! Here’s how to reach us:</p>

  <div class="contact-cards">
    <div class="contact-card">
      <h2>Email</h2>
      <p>meettheneed2&#64;gmail.com</p>
    </div>

    <div class="contact-card">
      <h2> Phone</h2>
      <p>+1 (573) 233-2980</p>
    </div>

    <div class="contact-card">
      <h2> Address</h2>
      <p>700 W. Marshall St. Charleston, MO 63834</p>
    </div>

    <div class="contact-card">
      <h2> Social</h2>
      <p>
        <a href="https://meettheneedinc.org/" target="_blank">Our Website</a>
      </p>
    </div>
  </div>
</div>
