<header class="app-header"></header>
  <h1 class="page-title">Welcome to Meet The Need Connect!</h1>
  <nav>
  </nav>
  <p>Connecting you with the resources and jobs that matter.</p>
<div style="padding: 20px;">
    <h1 class="body">Meet The Need Connects- Event Registration</h1>

  <router-outlet></router-outlet>
  <button class= "btn-primary" routerLink="/dashboard">Go to Dashboard</button>
  <app-event-list></app-event-list>
  <app-registration-form></app-registration-form>
  <app-attendee-list></app-attendee-list>
</div>
