<div class="dashboard-container">
   <h1 class="page-title">Welcome to Meet The Need Connect!</h1>
   <p>Connecting you with the resources and jobs that matter.</p>
  <p>Select an option below:</p>
<div class="cards">
  <a routerLink="/events" class="card card-events">
      <h2>Events</h2>
      <p>View Upcoming Events</p>
    </a>

  <a routerLink="/contact" class="card card-contact">
      <h2>Contact</h2>
      <p>Contact Us!</p>
    </a>

    <a routerLink="/attendees" class="card card-attendees">
      <h2>Admin</h2>
      <p>Admin dashboard and controls</p>
    </a>
  </div>
</div>
